@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width:80%;
    /* background-color:rgb(180, 140, 218); */
    padding:34px;
    margin:auto;
}
.container h3{
    text-align: center;
    font-size:30px;
    font-family: "Sriracha", cursive;
}
.container p{
    text-align:center;
    font-size:20px;
    font-family: "Sriracha", cursive;
}
input,textarea{
    border:2px solid black;
    border-radius:15px;
    outline:none;
    width:90%;
    margin:11px;
    padding: 7px;
    font-size:16px;
}
form{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
}
.btn{
    color:white;
    background-color: purple;
    padding:8px 12px;
    border-radius:10px;
    font-size:20px;
    border:2px solid white;
    cursor:pointer;
}
.bg{
    width:100%;
    position:absolute;
    z-index: -1;
    opacity: 1.6;
    
}
.submitMsg{
    color:orange;
    font-size:23px;
}